@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Welcome to Brailleify</p>
    <p class="display-5"><strong>"Transformation text into braille with ease using Brailleify - our user-friendly and accessible online converter."</strong></p>
</div>
