
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<head>
<style>

    .box-main {
        display: flex;
        justify-content: center;
        align-items: center;
        color: darkblue;
        max-width: 50%;
        margin: auto;
        height: 20%;
    }


    .text-big {
        font-weight: bold;
        font-size: 41px;
        text-align: center;
    }

    .text-small {
        font-size: 30px;
        text-align: center;
    }

        .btn {
            border: none;
            background-color: inherit;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
            color: black;
        }


            .btn:hover {
                background: #91BAD6;
            }

        .success {
            color: green;
        }

        .info {
            color: dodgerblue;
        }

        .warning {
            color: orange;
        }

        .danger {
            color: red;
        }

        .default {
            color: black;
        }

        .center {
            text-align: center;
        }

        .background {
            
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    </head>

<section class="background firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <p class="text-big">About US</p>

            <p class="text-small" style="text-align: center;">
                Through us, you can learn about the tool that can draw different shapes for the 3D printer that allows blind people to touch and feel the pictures.
            </p>
            <br>
            <p class="center">
                <a href="#Order"
                   style="text-decoration:none;color:#162938;">
                    <button class="btn Learn more...">Learn more..</button>
                </a>
            </p>
        </div>
    </div>
</section>
